<!DOCTYPE html>
<html>
<head>
<title>奠金</title>
#parse("sys/header.html")
</head>
<body>
<div class="panel panel-default" id="rrapp" v-cloak>
	<div class="panel-heading">{{title}}</div>
	<form class="form-horizontal">
		<div class="form-group">
		   	<div class="col-sm-2 control-label">模板用户ID</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.modulUserId" placeholder="模板用户ID"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">模板</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.modulId" placeholder="模板"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">用户ID</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.userId" placeholder="用户ID"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">客户姓名</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.name" placeholder="客户姓名"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">奠金金额</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.money" placeholder="奠金金额"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">订单号</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.orderNumber" placeholder="订单号"/>
		    </div>
		</div>
		<div class="form-group">
		   	<div class="col-sm-2 control-label">支付状态:0-支付成功,1-支付失败</div>
		   	<div class="col-sm-10">
		      <input type="text" class="form-control" v-model="tyInvitationCashmoney.status" placeholder="支付状态:0-支付成功,1-支付失败"/>
		    </div>
		</div>
		<div class="form-group">
			<div class="col-sm-2 control-label"></div> 
			<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
			&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
		</div>
	</form>
</div>

<script src="${rc.contextPath}/js/tyinvitationcashmoney/tyinvitationcashmoney_add.js?_${date.systemTime}"></script>
</body>
</html>