<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>天胤德业务员后台</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="statics/css/font-awesome.min.css">
  <link rel="stylesheet" href="statics/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="statics/css/all-skins.min.css">
  <link rel="stylesheet" href="statics/css/main.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <link rel="shortcut icon" href="statics/images/logo.ico" /> 
  
  <style type="text/css">
  			html,body{
				/* 防止双击缩放 */
	      		touch-action: manipulation;
			}
  </style>
  
</head>
<body class="hold-transition login-page">
<div class="login-box" id="rrapp" v-cloak>
 
  <div class="login-logo">
    <img alt="" src="statics/images/logo.png" style="width: 200px;">
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
      <p class="login-box-msg">天胤德业务员登录</p>
      <div v-if="error" class="alert alert-danger alert-dismissible">
        <h4 style="margin-bottom: 0px;"><i class="fa fa-exclamation-triangle"></i> {{errorMsg}}</h4>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" v-model="username" placeholder="账号" style="width: 100%;">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" v-model="password" placeholder="密码" style="width: 100%;">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4" style="width: 100%;">
          <button type="button" class="btn btn-primary btn-block btn-flat" @click="login">登录</button>
          <button type="button" class="btn btn-primary btn-block btn-flat" style="margin-top: 20px;background: #0fb619;" @click="wechatLogin">微信登入</button>
        </div>
        <!-- /.col -->
      </div>
    <!-- /.social-auth-links -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<script src="statics/libs/jquery.min.js"></script>
<script src="statics/libs/vue.min.js"></script>
<script src="statics/libs/bootstrap.min.js"></script>
<script src="statics/libs/jquery.slimscroll.min.js"></script>
<script src="statics/libs/fastclick.min.js"></script>
<script src="statics/libs/app.js"></script>
<script type="text/javascript">


var vm = new Vue({
	el:'#rrapp',
	data:{
		username: '',
		password: '',
		captcha: '',
		error: false,
		errorMsg: ''
	},
	created: function() {
		
    },
	beforeCreate: function(){
		if(self != top){
			top.location.href = self.location.href;
		}
	},
	methods: {
		login: function (event) {
			var data = "account="+vm.username+"&password="+vm.password;
			$.ajax({
				type: "POST",
			    url: "salesman/login",
			    data: data,
			    dataType: "json",
			    success: function(result){
					if(result.code == 0){//登录成功
						parent.location.href ='index_salesman.html';
					}else{
						vm.error = true;
						vm.errorMsg = result.msg;
					}
				}
			});
		},
		wechatLogin: function(){
			window.location.href ='/wechat/wechat_salesman_login';
		}
	}
});

</script>
</body>
</html>
