<!DOCTYPE html>
<html>
<head>
<title>${comments}</title>
#set($header='#parse("sys/header.html")')
$header
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<a href="${pathName}_add.html" class="btn btn-success">新增信息</a>
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="${rc.contextPath}/js/${pathName}/${pathName}.js?_${date.systemTime}"></script>
</body>
</html>